@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;800&display=swap");

/* || RESET */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

/* || VARIABLES */
:root {
  /* || COLORS */
  --PrimaryColor-Yellow: hsl(47, 88%, 63%);
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 50%);
  --Black: hsl(0, 0%, 7%);
  --footer-link: hsl(228, 45%, 44%);
}

/* || UTILITY Classes */
.gray-text {
  color: var(--Grey);
}

/* || GENERAL STYLING */
body {
  background-color: var(--PrimaryColor-Yellow);
  min-height: 100vh;

  font-family: "Figtree", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.25px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main {
  width: clamp(20rem, 70vw, 24rem);
  padding: 1.5rem;
  background-color: var(--White);
  border: 1px solid var(--Black);
  border-radius: 1rem;
  box-shadow: 7px 7px 0 var(--Black);
}
body:has(.main__h1:hover) .main,
body:has(.main__h1:focus) .main {
  box-shadow: 15px 15px 0 var(--Black);
}
.main :not(.instructor, .instructor__img, .instructor__h2) {
  margin-bottom: 1rem;
}

.main__img {
  border-radius: 0.5rem;
  height: 100%;
}
.main__p--status {
  display: inline-block;
  font-weight: 800;
  background-color: var(--PrimaryColor-Yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.main__h1 {
  font-size: 1.4rem;
  font-weight: 800;
}
.main__h1:hover,
.main__h1:focus {
  color: var(--PrimaryColor-Yellow);
  cursor: pointer;
}

/* || instructor info styling */
.instructor {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.75rem;
}
.instructor__img {
  width: 2.5rem;
}
.instructor__h2 {
  font-size: inherit;
  font-weight: 800;
}

/* || Footer Styling */
.footer {
  position: absolute;
  bottom: 5px;
  font-size: 11px;
}
.footer a {
  color: var(--footer-link);
}
